header {
  display: flex;
  border-bottom: solid black 1px;
  justify-content: space-between;
  padding:10px;
  font-family: Verdana;
  font-style: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}
#topHeader {
  display: flex;
  border: solid black 1px;
}
#topHeader img {
  padding-right: 10px;
}
nav li {
  list-style: none;
  display: inline-block;
}
nav li a {
   color: black;
   padding: 10px;
}
#mainContainer {
  border: solid black 1px;
  display: flex;
  width: 1260px;
  margin: 0 auto;
}

#mainStory {
  border: solid black 1px;
  background-image: url("../../resources/images/img-story-main.png");
  display: flex;

}
#mainStory h1 {
  font-size: 40px;
}
h1 {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  height: 300px;
  margin: 0;
}
p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
#image1 {
  border: solid black 1px;
  display: flex;
  background-image: url("../../resources/images/img-story-2.png");
}
#image2 {
  border: solid black 1px;
  display: flex;
  background-image: url("../../resources/images/img-story-3.png");
  margin-top: 30px;
}
#image3 {
  border: solid black 1px;
  display: flex;
  background-image: url("../../resources/images/img-story-1.png");
}
#newBites {
  border: solid black 1px;
}
.container {
  border: solid black 1px;

}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
}
.column {
  margin-right: 30px;
  margin-top: 30px;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
}
